[buildout]
extensions = mr.developer
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.1.x.cfg

package-name = collective.memberapproval

parts +=
    omelette
    test

[sources]
pas.plugins.memberapproval = git ssh://radim@git.fry-it.com/var/cache/git/pas.plugins.memberapproval

[instance]
zcml = 
    ${buildout:package-name}
    ${buildout:package-name}-overrides

[versions]

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
packages = ${instance:location}/lib/python ./

[test]
recipe = collective.xmltestreport
eggs = ${buildout:package-name} [test]
defaults = ['--auto-color', '--auto-progress']
